#include ".Xresources.d/xcolors.s3r0"

#include ".Xresources.d/urxvt"
#include ".Xresources.d/rofi"
#include ".Xresources.d/xft"

!! Color Scheme
!!!!!!!!!!!!!!!!!
*.foreground:   fg
*.background:   bg
*.cursorColor:  cc
*.color0:       black1
*.color8:       black2
*.color1:       red1
*.color9:       red2
*.color2:       green1
*.color10:      green2
*.color3:       yellow1
*.color11:      yellow2
*.color4:       blue1
*.color12:      blue2
*.color5:       magenta1
*.color13:      magenta2
*.color6:       cyan1
*.color14:      cyan2
*.color7:       white1
*.color15:      white2
